<!DOCTYPE html>
<html>
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        <h1>Welcome to the Library Database System!</h1>
            <h3>{{ author.getFirstName}} {{ author.getLastName}}</h3>
            //add list of books under author
    </body>
</html>
